1. You are working in a django project.
2. There are multiple apps.
3. Always use django built in imports when possible, for example use from django.utils import timezone instead of from datetime import timedelta
